<div class="drop-zone" style="padding: 20px" [@simpleFadeAnimation]="'in'">
  <div>
    <mat-card [class.mat-elevation-z2]="true">
      <file-drop headertext="Drop Your Image Here!" (onFileDrop)="dropped($event)" (onFileOver)="fileOver($event)"
        (onFileLeave)="fileLeave($event)">
      </file-drop>
    </mat-card>
  </div>
</div>
<div class="display">
  <img [src]="url" class="image" *ngIf="showImage" [@simpleFadeAnimation]="showImage ? 'in' : 'out'" (click)="nextQuote()">
</div>
<div class="quote">
  <mat-card [class.mat-elevation-z2]="true" *ngIf="showQuote && !loading" [@simpleFadeAnimation]="showQuote ? 'in' : 'out'">
    <mat-card-title style="text-align: center">{{currentQuote.quote}}<br /> - {{currentQuote.author}} <br />
      {{currentHashTags}}</mat-card-title>
  </mat-card>
  <mat-spinner *ngIf="loading" style="margin: auto; margin-top: 10px;"></mat-spinner>
</div>

<particles [params]="myParams" [style]="myStyle" [width]="width" [height]="height"></particles>